@keyframes loading{
    from {padding-top: 1000px;}
    to { padding-top: 0;}
}

@keyframes fading{
    from{ opacity: 0;}
    to { opacity: 1;}
}

body{
    height: 200vh;
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-position: relative;
    background-size: cover;
    color: white;
}

a, p, label{
    font-family: 'Karla', serif;
}

a{
    font-size: large;
    text-decoration: none;
    color:white
}

.nav-link:hover {
    color: black;
    background-color: white;
    border-radius: 50px;
}

.btn{
    text-align: center;
    display: flex;
    margin: auto;
    border-radius: 10px;
    font-size: small;
    margin-top: 20px;
}

img {
    display:inline;
}

h2, h5 {
    display: inline;
    font-family: 'Old Standard TT', serif;
}

h3 {
    text-align: center;
    margin-top: 30px;
    font-family: 'Old Standard TT', serif;
}

nav{
    margin-top: 20px;
}

#title-div{
    margin-top: 5px;
    text-align: center;
}

#navbarNavDropdown{
    margin-top: 10px;
}

input{
    min-width: 25px;
}


#notIndexBody{
    height: 100%;
    animation-name: fading;
    animation-duration: 1s;
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#imgContainer {
    animation-name: loading;
    animation-duration: 1s;
}

label {
    color: black;
}

.valid {
    color: green;
}

  .valid:before {
    position: relative;
    left: -35px;
    
    }

  .invalid {
    color: red;
    }

  .invalid:before {
    position: relative;
    left: -35px;
    
  }

  #confirmInput{
      width: 50%;
  }


    .popoverTitleCalendar{
        width: 100%;
        height: 100%;
        padding: 15px 15px;
        font-family: Roboto;
        font-size: 13px;
        border-radius: 5px 5px 0 0;
    }
    .popoverInfoCalendar i{
        font-size: 14px;
        margin-right: 10px;
        line-height: inherit;
        color: #d3d4da;
    }
    .popoverInfoCalendar p{
        margin-bottom: 1px;
    }
    .popoverDescCalendar{
        margin-top: 12px;
        padding-top: 12px;
        border-top: 1px solid #E3E3E3;
        overflow: hidden;
    }
    .popover-title {
        background: transparent;
        font-weight: 600;
        padding: 0 !important;
        border: none;
    }
    .popover-content {
        padding: 15px 15px;
        font-family: Roboto;
        font-size: 13px;
    }

    #indexButton{
        text-decoration: none;
        color: black;
        font-size: 15px;
    }